# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
### If this causes issues with rebasing, remove the line below, 
### mark it as unchanged git update-index --assume-unchanged .gitattributes
### and then reset with --hard, followed by rebase.
### Afterwards, update-index with --no-assume-unchanged
*.md text eol=lf
*.mdx text eol=lf
*.html text eol=lf
*.cfg text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.JPEG binary
*.PNG binary
*.zip binary
*.stl binary
*.step binary