.btn-fs-6{
    font-size: 24px !important;
    line-height: 1.25;
}

.btn.doc-link{
    font-size: 24px !important;
    line-height: 1.25;
    margin: inherit 0.3em;
    padding: 0.5em 1.2em;
}

.btn.doc-link::after{
    content: "\F231 "; //Arrow icon
    font-family: "bootstrap-icons";
    line-height: 1;
    vertical-align: text-bottom;
}

.btn.download::before{
    content: "\F294 "; //Download icon
    font-family: "bootstrap-icons";
    line-height: 1;
    vertical-align: text-bottom;
}