@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

$dark-grey-color: #1c1c1c;
$light-grey-color: #303134;
$white-color: #f9f9f9;
$vzbot-red-color: #fe3d3d;

$body-background-color: $dark-grey-color;
$sidebar-color: $light-grey-color;
$border-color: #3c4043;

$body-text-color: #bdc1c6;
$body-heading-color: $vzbot-red-color;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $body-text-color;

$link-color: $vzbot-red-color;
$btn-primary-color: $blue-200;
$base-button-color: $light-grey-color;

$code-background-color: $light-grey-color;
$search-background-color: $light-grey-color;
$table-background-color: $light-grey-color;
$feedback-color: darken($sidebar-color, 3%);

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted $body-background-color;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: $body-background-color;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.site-footer {
    visibility: hidden;
}

#backing {
	vertical-align: middle;
	margin: 0;
	overflow: hidden;
}
#backing svg { 
	display: inline-block;
	position: absolute;
	top: 0; left: 0;
}