@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

$dark-grey-color: #1c1c1c;
$light-grey-color: #303134;
$white-color: #f9f9f9;
$vzbot-red-color: #fe3d3d;

$body-background-color: $dark-grey-color;
$sidebar-color: $light-grey-color;
$border-color: #3c4043;

$body-text-color: #bdc1c6;
$body-heading-color: $vzbot-red-color;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $body-text-color;

$link-color: $vzbot-red-color;
$btn-primary-color: $blue-200;
$base-button-color: $light-grey-color;

$code-background-color: $light-grey-color;
$search-background-color: $light-grey-color;
$table-background-color: $light-grey-color;
$feedback-color: darken($sidebar-color, 3%);

.site-footer {
    visibility: hidden;
}

td { 
  img {
    width: auto;
    height: auto;
    object-fit: scale-down;
  }
  br {
    display: block;
    margin: 10px 0;
    content: " ";
  }
  width: auto;
  height: auto;
}

thead th {
  background: #575555;
}

body {
	font-family: Helvetica;
	font-size: 13px;
}

.instructiontable {
  table {
    border: none;
  }
  td {
    width: 70%;
  }
}
.commandtable {
  table {
    border: none;
  }
  td { 
    background-color: #3d4345;
  }
}


