title: VzBoT Documentation
tagline: Documentation for VzBoT 3D-printers
description: VzBoT Official Documentation
logo: "/assets/images/logo.png"
baseurl: ""
markdown: kramdown
remote_theme: just-the-docs/just-the-docs
color_scheme: "vzbot"
search_enabled: true
repository: vzbot3d/docs

plugins:
 # - jekyll-spaceship
  - jekyll-toc

exclude:
 # from https://github.com/jekyll/jekyll/blob/master/lib/site_template/_config.yml:
   - .sass-cache/
   - .jekyll-cache/
   - gemfiles/
   - Gemfile
   - Gemfile.lock
   - node_modules/
   - vendor/bundle/
   - vendor/cache/
   - vendor/gems/
   - vendor/ruby/
 # specific to the theme website:
   - bin/
   - lib/
   - "*.gemspec"
   - "*.gem"
   - LICENSE.txt
   - package.json
   - package-lock.json
   - Rakefile
   - README.md
   - CODE_OF_CONDUCT.md
   - docker-compose.yml
   - Dockerfile
 # theme test code
   - fixtures/

aux_links:
  "GitHub":
    - "https://github.com/VzBoT3D"
  "Ko-Fi":
    - https://ko-fi.com/vez3d
  "Discord":
    - https://discord.gg/KWZWvCMxCq
aux_links_new_tab: true

# For copy button on code
enable_copy_code_button: true

# back to top
back_to_top: true
back_to_top_text: "Back to top"

callouts_level: quiet # or loud
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red

#footer_content: "Copyright &copy; 2017-2020 Patrick Marsceill. Distributed by an <a href=\"https://github.com/just-the-docs/just-the-docs/tree/main/LICENSE.txt\">MIT license.</a> <a href=\"https://www.netlify.com/\">This site is powered by Netlify.</a>"

compress_html:
  clippings: all
  comments: all
  endings: all
  startings: []
  blanklines: false
  profile: false
  # ignore:
  #   envs: all

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      image: /assets/images/rtfm.pngy
